footer.footer 
  .footer__header 
    img.footer__logo(src="./assets/images/logo.svg", alt="logo insure")
    ul.icons
      li.icons__item
        img.icons__image(src="./assets/images/icon-facebook.svg", alt="icon facebook")
      li.icons__item
        img.icons__image(src="./assets/images/icon-twitter.svg", alt="icon twitter")
      li.icons__item
        img.icons__image(src="./assets/images/icon-pinterest.svg", alt="icon pinterest")
      li.icons__item
        img.icons__image(src="./assets/images/icon-instagram.svg", alt="icon instagram")
  .footer__body 
    ul.footer__menu
      li.footer__item 
        a.footer__link(href="#") Our company
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") How we work
          li.footer__sub-item
            a.footer__sub-link(href="#") Why Insure?
          li.footer__sub-item
            a.footer__sub-link(href="#") View plans
          li.footer__sub-item
            a.footer__sub-link(href="#") Reviews
      li.footer__item 
        a.footer__link(href="#") Help me
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") FAQ
          li.footer__sub-item
            a.footer__sub-link(href="#") Terms of use
          li.footer__sub-item
            a.footer__sub-link(href="#") Privacy policy
          li.footer__sub-item
            a.footer__sub-link(href="#") Cookies
      li.footer__item 
        a.footer__link(href="#") Contact
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") Sales
          li.footer__sub-item
            a.footer__sub-link(href="#") Support
          li.footer__sub-item
            a.footer__sub-link(href="#") Live chat
      li.footer__item 
        a.footer__link(href="#") Others
        ul.footer__sub-menu
          li.footer__sub-item
            a.footer__sub-link(href="#") Careers
          li.footer__sub-item
            a.footer__sub-link(href="#") Press
          li.footer__sub-item
            a.footer__sub-link(href="#") Licenses