main.main 
  section.different 
    .different__container
      h2.different__title We’re different
      article.different-article
        img.different__icon(src="./assets/images/icon-snappy-process.svg", alt="icon snappy")
        h3.different-article__title Snappy Process
        p.different-article__paragraph.
          Our application process can be completed in minutes, not hours. Don’t get
          stuck filling in tedious forms.
      article.different-article
        img.different__icon(src="./assets/images/icon-affordable-prices.svg", alt="icon affordable")
        h3.different-article__title Affordable Prices
        p.different-article__paragraph.
          We don’t want you worrying about high monthly costs. Our prices may be
          low, but we still offer the best coverage possible.
      article.different-article
        img.different__icon(src="./assets/images/icon-people-first.svg", alt="icon people")
        h3.different-article__title People First
        p.different-article__paragraph.
          Our plans aren’t full of conditions and clauses to prevent payouts. We
          make sure you’re covered when you need it.
    section.find
      h2.find__title Find out more about how we work
      a.find__button(href="#") How we work